/*html {
	height: 100%;
	width: 100%;
}
body {
	left: 0px;
	margin: auto;
	position: relative;
}*/
/*BLOCK1*/
.block1 {

}
.logo {
	z-index: 1;
	padding-top: 57px;
	padding-left: 86px;
	}
.header-nav {
	background-image: url("image/bg_menu.png");
	height: 229px;
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	position: fixed;
}
.nav_menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
.nav-menu_item {
	font-family: 'Poppins', sans-serif;
	padding-left: 37px;
	padding-right: 37px;
	color: white;
	z-index: 1;
}
#carouselExampleCaptions {
	width: 100%;
	height: 100%;
	}
.carousel-caption {
	display: flex;
	align-items: baseline;
}
.carousel-caption_title {
	font-size: 64px;
	font-family: 'Poppins', sans-serif;
	width: 600px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 45px;
}
.carousel-caption_text {
	font-size: 24px;
	width: 600px;
	text-align: left;
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
	margin-bottom: 45px;
}
.button-carousel {
	color: white;
	background-color: #f64b3c;
	padding: 24px 74px 24px 74px;
	border-radius: 33px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;400&display=swap');
	display: flex;
	justify-content: flex-start;
}
.carousel-control-prev {
	background: none;
	border: none;
}
.carousel-control-next-icon{
	
}
.carousel-control-next {
	background: none;
	border: none;
}
/*BLOCK2*/
.block2 {
	background-image: url(image/block2.jpg);
	background-size: 100%;
	margin: 95px 86px;
	width: 90%;
}
.title_of_block {
	font-size: 44px;
	font-family: 'Poppins', sans-serif;
	color: #f64b3c;
	text-align: center;
}
.block2-title_text {
	font-size: 18px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	margin: 45px;
	text-align: center;
}
.cards {
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 75px;
}
.card_item {
	display: flex;
	flex-direction: column;
	width: 297px;
	margin-right: 57px;
	margin-left: 57px;
	text-align: center;
}
.card_image {
	display: flex;
	width: 239px;
	height: 239px;
	margin-bottom: 24px;
	align-self: center;
}
.card_title {
	margin-bottom: 20px;
	color: #f64b3c;
	font-weight: 600;
}
/*fin block2*/

/*block3*/
.block3 {
	display: flex;
	flex-direction: row;
	background-color: #f64b3c;
	padding-left: 156px;
	padding-right: 108px;
	padding-top: 150px;
	padding-bottom: 150px;
}
.block3_item1 {
	margin-right: 137px;
}
.block3_item2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 80px;
}
.block3_title {
	font-size: 64px;
	font-family: 'Poppins', sans-serif;
	width: 600px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 45px;
	color: white;
}
.block3_text {
	color: white;
	width: 564px;
	margin-bottom: 45px;
	font-size: 24px;
}
.block3_button {
	color: #f64b3c;
	background-color: white;
	padding: 24px 74px 24px 74px;
	border-radius: 33px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;400&display=swap');
	display: flex;
	justify-content: flex-start;
	width: 280px;
}
/*fin block3*/

/*block4*/
.block4 {
	display: flex;
	flex-direction: row;
	background-image: url(image/block2.jpg);
	background-size: 100%;
	padding-left: 156px;
	padding-right: 108px;
	padding-top: 150px;
	padding-bottom: 150px;
}
.block4_item1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 70px;
}
.block4_item2 {
	margin-left: 137px;
}
.block4_title {
	font-size: 64px;
	font-family: 'Poppins', sans-serif;
	width: 600px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 45px;
	color: #f64b3c;
}
.block4_text {
	color: #f64b3c;
	width: 564px;
	margin-bottom: 45px;
	font-size: 24px;
}
.block4_button {
	color: white;
	background-color: #f64b3c;
	padding: 24px 74px 24px 74px;
	border-radius: 33px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: flex-start;
	width: 280px;
}
/*fin block4*/
/*block5*/
.block5 {
	background-color: #f64b3c;
	padding: 95px 150px 183px 150px;
}
.block_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title_of_block_block5 {
	font-size: 44px;
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;
}
.block_item_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -220px;
}
.block5-title_text {
	font-size: 18px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	margin: 45px;
	text-align: center;
	color: white;
}
.blocks {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.block_item_img {
	padding-left: 50px;
	padding-right: 50px;
}
.block_title {
	color: white;
	font-size: 73px;
}
.block_text {
	color: white;
	font-size: 25px;
	text-transform: uppercase;
}
/*fin block5*/
/*block6*/
.block6 {
	background-image: url(image/block6.jpg);
	background-size: 100%;
	padding-top: 93px;
}
.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 100px 130px 80px 130px;
}
.item_card {
	background-color: white;
	border-radius: 10px;
	padding: 36px;
	width: 300px;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
.item_title {
	text-transform: uppercase;
	color: #f64b3c;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 40px;
}
.item_icon {
	margin-bottom: 43px;
}
.item_price {
	margin-bottom: 25px;
	font-size: 25px;
	color: #f64b3c;
	font-weight: bolder;
}
.item_text {
	margin-bottom: 30px;
	color: #f64b3c;
}
.block6_button {
	color: white;
	background-color: #f64b3c;
	padding: 12px 45px 12px 45px;
	border-radius: 33px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: flex-start;
	font-weight: bolder;
}
/*fin block6*/
/*block7*/
.block7 {
	background-image: url(image/block7.jpg) ;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 296px;
	padding-bottom: 260px;
	padding-left: 360px;
	padding-right: 360px;
	display: flex;
	flex-direction: column;
	
	align-items: center;
}
.block7_text {
	color: white;
	font-size: 24px;
	width: 525px;
	font-weight: bold;
	text-align: center;
}
.block7_name {
	color: white;
	font-size: 32px;
	font-weight: bolder;
}
/*fin block7*/
/*block8*/
.block8 {
	background-image: url(image/block8.jpg);
	background-size: 100%;
	padding-top: 200px;
	padding-left: 305px;
	padding-bottom: 150px;
	padding-right: 305px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.block8_text {
	color:  #f64b3c;
	font-size: 18px;
	width: 525px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}
.block8_form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.form_input {
	border-bottom-left-radius: 33px;
	border-top-left-radius: 33px;
	width: 550px;
	border: none;
	padding-left: 25px;
}
.form_button {
	color: white;
	background-color: #f64b3c;
	padding: 12px 45px 12px 45px;
	border-bottom-right-radius: 33px;
	border-top-right-radius: 33px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: flex-start;
	font-weight: bolder;
}
/*fin block8*/
/*footer*/
.footer {
	background-color: #222222;
	padding: 235px 93px 291px 93px;
	display: flex;
	flex-direction: row;
	
}
.item_with_red_social {

}
.red_social{
	margin-top: 40px;
}
.footer_icon {
	margin-right: 15px;
}
.footer_item-title {
	color: white;
	font-size: 24px;
	margin-bottom: 40px;
}
.footer_text {
	color: white;
	width: 400px;
	font-size: 18px;
	margin-right: 170px;
}
.item {
	color: white;
	margin-right: 70px;
	font-size: 18px;
}
.footer_item-item {
	margin-top: 14px;
}
/*fin footer*/
