<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="pagina de un studio de diseño ">
	<meta name="robots" content="nofollow">
	<meta name="author" content="Yevheniia_Boiko">
	<meta name="keywords" content="diseño,design,tarjeta,card,print,photo,foto,paginaweb,web,page-web">
	<link rel="stylesheet" href="../css/style.css">
	<title>Presupuesto</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;800;900&display=swap" rel="stylesheet"> 
	<script src="../js/javascript.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<div class="header">
		<!--logo-->
			<div class="header-logo">
				<h1>
					<a href="../index.html">
						<img class="header_logo-img" src="../image/logo.png" alt="Design" title="Design">
					</a>
				</h1>
			</div>
		<!--fin logo-->
		<!--menu nav-->
			<nav class="header-menu">
				<ul class="header-menu__ul">
					<li class="header-menu__home"> 
						<a class="header-menu__link" href="../index.html">Inicio</a> 
					</li>
					<li class="header-menu__galery"> 
						<a class="header-menu__link" href="portfolio.html">Galeria</a> 
					</li>
					<li class="header-menu__quote"> 
						<a class="header-menu__quote__active" href="presupuestos.html">Presupuesto</a> 
					</li>
					<li class="header-menu__contacts"> 
						<a class="header-menu__link" href="contacto.html">Contacto</a> 
					</li>
				</ul>
			</nav>
<!--fin menu nav-->
		</div>
	</header>
		<main class="section-presupuesto">
			
			<div>
				<h2 class="main-title">presupuesto</h2>
			</div>
			<form class="section-form">
				<fieldset class="fieldset">
    				<legend class="legend">Datos:</legend>
	    				<div class="form-items">
		    				<div class="form-item">Nombre: 
		    					<input class="presupuesto-form-item name" type="text" name="name" value="Escribe aqui su nombre" required="">
		    				</div><br>
		    				<div class="form-item">Apellidos: 
		    					<input class="presupuesto-form-item surname" type="text" name="surname" value="Escribe aqui sus apellidos">
		    				</div><br>
		    				<div class="form-item">Telefono de contacto: 
		    					<input class="presupuesto-form-item tel" type="tel" name="tel" value="Escribe aqui su telefono">
		    				</div><br>
		    				<div class="form-item">Email: 
		    					<input class="presupuesto-form-item email" type="email" name="email" value="Escribe aqui su direccion de correol">
		    				</div><br>
	    				</div>
    			</fieldset>
						
				<fieldset class="fieldset">
    				<legend class="legend">Presupuesto</legend>
    				<div class="form-items">
	    				<div class="form-item">Elige un producto: 
	    					<select class="form-select">Selecciona una opcion
		    					<option class="form-option" value="Logo e identidad"></option>
		    					<option value="Logo"></option>
		    					<option value="Logo y sitio web"></option>
		    					<option value="Vectorizacion de logo"></option>
		    					<option value="Rediseño de logo"></option>
		    					<option value="Sitio web"></option>
		    					<option value="Ecomerce"></option>
		    					<option value="Apps"></option>
		    					<option value="Flyer"></option>
		    					<option value="Flyer 2 caras"></option>
		    					<option value="Publicidad"></option>
	    					</select></div><br>						
	    				<div class="form-item">Plazo en días:
	    					<input class="form-item-days" type="number" name="days" step="1" min="3" max="60">
	    				</div><br>
	    				<div class="form-item">Elija las extras para el producto:<br>
	    					<div class="form-checkbox-items">
			    				<input class="form-checkbox-item" type="checkbox" name="color" value="color" checked="">Color personalizado<br>
			    				<input class="form-checkbox-item" type="checkbox" name="font" value="font" checked="">Tipografia personalizada<br>
			    				<input class="form-checkbox-item" type="checkbox" name="days" value="days" checked="">Terminacion personalizada<br>
			    				<input class="form-checkbox-item" type="checkbox" name="name" value="name" checked="">Nombre personalizado
		    				</div><br>
		    			</div>
		    			<div class="form-result">
		    			Presupuesto estimado:<input class="presupuesto-form-item" type="text" name="result">
	    				</div>
	    				
    				</div>
    			</fieldset>
			
				<fieldset class="fieldset">
    				<legend class="legend">Aceptacion condiciones y envio de presupuesto</legend>
    				<div class="form-items">
    					<input class="form-checkbox-item" type="checkbox" name="rgpd" value="rgpd">He leido la politica de privacidad
    					<br>
    					<input class="buton1-1 btn-presupuestos" type="submit" name="bottom" value="enviar">
					</div>
				</fieldset>
			</form>
		</main>

	<footer class="footer">
		<div class="footer1">
			<h2 class="section-title2">get in touch</h2>
			<div class="footer-container">
				<div class="contacts">
					<div class="contacts-item">
						<img class="contacts-img" src="../image/icon-pin.png">
						<p class="item-text">23 Mulholland Drive, Suite 721. Los Angeles 10010<br>100 S.Main Street. Los Angeles 90012</p>
					</div>
					<div class="contacts-item">
						<img class="contacts-img" src="../image/icon-iphone.png">
						<a href="tel:+1-670-567-5590" class="item-text">+1-670-567-5590</a>
					</div>
					<div class="contacts-item">
						<img class="contacts-img" src="../image/icon-envelope.png">
						<a href="mailto:hello@clemocreative.com" class="item-text">hello@clemocreative.com</a>
					</div>
					<div class="red-social">
						<a class="red_social-icon" href="https://www.facebook.com"><img class="red_social-img" src="../image/facebook.png" target="_blank"></a>
						<a class="red_social-icon" href="https://twitter.com"><img class="red_social-img" src="../image/twitter.png" target="_blank"></a>
						<a class="red_social-icon" href="https://mail.google.com"><img class="red_social-img" src="../image/google.png" target="_blank"></a>
						<a class="red_social-icon" href="https://www.pinterest.es"><img class="red_social-img" src="../image/pinterest.png" target="_blank"></a>
						<a class="red_social-icon" href="https://www.instagram.com"><img class="red_social-img" src="../image/instagram.png" target="_blank"></a>
					</div>
				</div>
				<form class="footer-form">
					<input class="footer-form-item" type="text" name="name" value="name" placeholder="name" required="">
					<input class="footer-form-item" type="text" name="email" value="email" placeholder="email" required="">
					<textarea class="footer-form-item" cols="30" rows="3">your message</textarea>
					<input class="button3" type="submit" name="buttom" value="submit" required="">
				</form>
			</div>
		</div>
		<div class="footer2">
			<p class="copyright-bold">©2016 design.</p>
			<p class="copyright">all rights reserved</p>
		</div>
	</footer>

</body>
</html>